body {
  margin: 0;
  top: 0;
}
.App {
  text-align: center;
  position: relative;
  height: 100vh;
}

.taustakuva {
  height: 100vh;
  width: 100vw;
  z-index: -2;
  background-image: url(./ruokailu.jpeg);
  position: fixed;
  opacity: 0.84;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* #palkki {
  width: "100%";
  display: "flex";
  justify-content: "space-between";
  margin-bottom: "24px";
} */

.lisays {
  animation: fadeIn 0.5s /* fadeOut 0.5 */;
  max-width: 600px;
  background-color: rgb(230, 223, 223);
  position: relative;
  margin: 23vh auto;
  border-radius: 4px;
  box-shadow: 0 0 10px 10px;
  padding: 8px;
  padding-bottom: 12px;
  z-index: 100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.sulje {
  position: absolute;
  right: 12xp;
  cursor: pointer;
}

.sulje:hover {
  cursor: pointer;
}

.tyyli {
  color: brown;
}

.palkki {
  /* height: ; */
}

.osallistujaTausta div p {
  color: rgb(255, 255, 255);
  display: inline;
  font-size: 26px;
}

.hOsallistujat {
  color: rgb(253, 253, 253);
  font-size: 42px;
}

@media (max-width: 450px) {
  .osallistujaTausta div p {
    color: black;
    display: block;
  }
  .hOsallistujat {
    color: black;
  }
}

@media (max-width: 799px) {
  .palkki {
    padding-top: 10px;
  }
  .osallistujaTausta {
    padding: 10px 0;
  }
}

@media (min-width: 800px) {
  .palkki {
    margin: 0 auto;
    width: 100%;
    margin-bottom: "24px";
    text-align: center;
  }

  .otsikkoDiv {
    text-align: center;
  }

  .palkki h1 {
    position: relative;
    /* left: 50%; */
    /* transform: translateX(25%); */
    display: inline-block;
    font-size: 56px;
  }
  .nimiPala {
    top: 20px;
    /* transform: translateY(-50%); */
    position: absolute;
    left: 10px;
  }
  .ylaNappi {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-60%);
  }
}
/* @media (min-width: 1000px) {
  .nimiPala {
    position: relative;
    left: -15vw;
  }
  .ylaNappi {
    position: relative;
    right: -15vw;
  }
}

@media (min-width: 1200px) {
  .nimiPala {
    position: relative;
    left: -20vw;
  }
  .ylaNappi {
    position: relative;
    right: -20vw;
  }
}

@media (min-width: 1650px) {
  .nimiPala {
    position: relative;
    left: -35vw;
    transform: translateX(50%);
  }
  .ylaNappi {
    position: relative;
    right: -35vw;
    transform: translateX(-50%);
  }
} */
